@font-face {
  font-family: "Helvetica";
  src: url("fonts/helveticaStandard.woff2");
}
:root {
  --black: #000;
  --near-black: #222;
  --near-black-trans: #22222240;
  --off-black: #555;
  --off-white: #aaa;
  --near-white: #ddd;
  --white: #fff;
  --sea-blue: #5cf;
  --dark-sea-blue: #258;
  --yellow: #fc5;
  --dark-yellow: #ca4;
  --red: #f55;
  --dark-red: #822;
  --content-width: 1150px;
  --quick-in: cubic-bezier(0, 0.75, 0.25, 1);
  --font-helvetica: "Helvetica", sans-serif;
}

* {
  transition: all 0.25s var(--quick-in);
  color: var(--near-white);
  scroll-margin-top: calc(50px + 2.5vh);
  text-wrap: pretty !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: all 5s var(--quick-in) !important;
  }
}

html {
  font-family: var(--font-helvetica);
  background-color: var(--near-black);
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  #app {
    width: 100vw;
  }
}

nav {
  width: 100vw;
  max-width: var(--content-width);
  height: 50px;
  padding: 0 calc((100vw - var(--content-width)) / 2);
  padding-top: 2.5vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--near-black);
  font-family: var(--font-helvetica);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  
  #siteLogo {
    aspect-ratio: 2.0625;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .shLogo, .shLogo * {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      fill: var(--near-white);
    }
  }
  
  #siteLogo:hover .shLogo,
  #siteLogo:hover .shLogo * {
    fill: var(--white);
  }

  #navLinks {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: var(--near-white) calc(0.1vh + 0.1vw) solid;

    a {
      text-decoration: none;
      font-size: calc(0.7vw + 1vh);
      background-color: var(--near-black);
      color: var(--near-white);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a:not(#siteLogo) {
      min-width: 10vw;
      height: 100%;
    }

    a:hover {
      background-color: var(--black);
      font-weight: bold;
      font-size: calc(0.77vw + 1.1vh);
    }
  }
}

nav *::selection {
  background-color: var(--near-white);
  color: var(--near-black);
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  #hero {
    max-width: var(--content-width);
    width: 80vw;
    min-height: 80vh;
    padding: 10vw 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--near-black);

    h3 {
      font-size: calc(2vw + 2.5vh);
      margin: 0;
    }

    h2 {
      font-size: calc(7vw + 4vh);
      margin: 0 0 5vh;
    }

    #roleList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: calc(-1.5vw - 1.5vh);

      .role {
        width: 50%;
        max-width: calc(var(--content-width) * 0.50);
        height: calc(2vw + 3vh);
        max-height: 75px;
        padding-left: 1vw;
        margin-bottom: 2vh;
        border-radius: 11vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;

        .circle {
          height: 3vh;
          aspect-ratio: 1;
          margin-right: 0.5vw;
          border-radius: 2.5vh;
          font-size: 50%;
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%, 0 50%, 50% 50%, 30% 70%, 45% 85%, 80% 50%, 45% 15%, 30% 30%, 50% 50%, 0 50%);
        }
        h3 {
          font-size: calc(1.25vw + 1.25vh);
        }
      }

      .role:hover {
        .circle {
          background-color: var(--near-black) !important;
          font-weight: bold;
        }

        h3 {
          color: var(--near-black);
        }
      }

      .role:nth-child(1) {
        border: 2px solid var(--red);
        background-color: transparent;

        .circle {
          background-color: var(--red);
        }
      }

      .role:nth-child(1):hover {
        background-color: var(--red);
      }

      .role:nth-child(2) {
        border: 2px solid var(--yellow);
        background-color: transparent;

         .circle {
          background-color: var(--yellow);
        }
      }

      .role:nth-child(2):hover {
        background-color: var(--yellow);
      }

      .role:nth-child(3) {
        border: 2px solid var(--sea-blue);
        background-color: transparent;

        .circle {
          background-color: var(--sea-blue);
        }
      }
      
      .role:nth-child(3):hover {
        background-color: var(--sea-blue);
      }
    }
  }

  #about {
    padding: 20vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 60vw;
    height: calc(90vh - 50px - 5vh);
    background-color: var(--near-black);
    background: linear-gradient(0deg, rgba(221, 221, 221, 0.8666666667) 0%, rgba(221, 221, 221, 0.8666666667) 100%), url("../files/subwayEntr.svg"), linear-gradient(0deg, #ddd 0%, #ddd 100%);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;

    .LRContainer {
      width: 100%;
      max-width: var(--content-width);
      display: flex;
      justify-content: space-between;
    }

    h3, p {
      text-shadow: 0 0 10px var(--near-white);
    }

    #aboutImg {
      width: 30%;
      aspect-ratio: 0.625;
      box-shadow: 0 0 12.5px var(--off-black);
      object-fit: cover;
      object-position: center bottom;
    }

    .aboutText {
      width: 50%;
      font-size: calc(0.9vw + 0.9vh);
        * {
        color: var(--near-black);
        letter-spacing: 4%;
        text-wrap: pretty;
      }

      a:hover {
        font-weight: bold;
        letter-spacing: 6%;
      }
    }
  }

  #photoScroll {
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(90deg, var(--red) 0%, var(--red) 5%, var(--yellow) 28.333%, var(--yellow) 38.333%, var(--sea-blue) 61.667%, var(--sea-blue) 71.667%, var(--red) 95%, var(--red) 100%);
    background-repeat: repeat-x;
    background-size: 300%;
    animation: scrollAnim 40s infinite linear;
  }
  @keyframes scrollAnim {
    from {
      background-position-x: 900vw;
    }
    to {
      background-position-x: 0vw;
    }
  }
  .lowerSec {
    width: 100%;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .lowerSecTitle {
      border-color: var(--near-black);
    }

    h3 {
      max-width: 80vw;
      width: 100%;
      border-bottom: solid calc(0.1vw + 0.1vh) var(--near-black);
      display: flex;
      justify-content: center;
      font-size: calc(1.5vh + 3vw);
      font-weight: bolder;
      color: var(--near-black);
    }
    
    .threeCont {
      width: 80vw;
      margin-top: -5vh;
      margin-bottom: 5vh;
      display: flex;
      justify-content: space-between;

      .section {
        max-width: calc(var(--content-width) / 3);
        width: 25vw;
        margin-left: 1vw;
        margin-right: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          font-size: calc(1.4vh + 1.4vw);
          border: 0 solid transparent;
        }
        p {
          color: var(--near-black);
          font-size: calc(1vh + 1vw);
          line-height: calc(1.175vh + 1.175vw);
          min-height: calc(12 * (1vh + 1vw));
          margin-top: -1.5vh;
        }
        a {
          width: 100%;
          height: 7.5vh;
          background-color: transparent;
          border: calc(0.1vh + 0.1vw) solid var(--near-black);
          border-radius: 4vh;
          font-size: calc(1vw + 1vh);
          text-decoration: none;
          color: var(--near-black);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        a:hover {
          font-size: calc(1.1vh + 1.1vw);
          font-weight: bold;
        }
      }
      .section:nth-child(1) a {
        border-color: var(--red);
      }
      .section:nth-child(1) a:hover {
        background-color: var(--red);
      }
      .section:nth-child(2) a {
        border-color: var(--yellow);
      }
      .section:nth-child(2) a:hover {
        background-color: var(--yellow);
      }
      .section:nth-child(3) a {
        border-color: var(--sea-blue);
      }
      .section:nth-child(3) a:hover {
        background-color: var(--sea-blue);
      }
    }
  }

  #contact {
    background-color: var(--near-black);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;

    *:not(a:hover) {
      color: var(--near-white);
    }
    
    .lowerSecTitle {
      border-color: var(--near-white);
    }
  }

  #projects {
    background-color: var(--near-white);
    background: linear-gradient(0deg, rgba(221, 221, 221, 0.9333333333) 0%, rgba(221, 221, 221, 0.9333333333) 100%), url("../files/subwayStation.svg");
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #contact *::selection, #hero *::selection {
    background-color: var(--near-white);
    color: var(--near-black);
  }

  #projects *::selection, #about *::selection {
    background-color: var(--near-black);
    color: var(--near-white);
  }
}

#resumePage {
  margin-top: -10vh;
  
  #resumeTitle {
    font-family: var(--font-helvetica);
    font-size: 7.5vh;
    line-height: 0;
    background-color: var(--near-black);
    color: var(--near-white);
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  a, a:visited {
    line-height: 3vh;
    font-size: 3vh;
    color: var(--sea-blue);
  }

  a:hover, a:visited:hover {
    font-size: 3.25vh;
    line-height: 2.5vh;
    font-weight: bold;
  }

  #resume {
    width: 80vw;
    height: fit-content;
    padding: 10vw;
    padding-top: 0;
    margin-top: 7.5vh;
    background-color: var(--near-white);
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    line-height: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;

    *:not(a) {
      color: var(--near-black);
    }

    a, a:visited, a:active, a:hover {
      color: var(--dark-sea-blue);
    }

    h3 {
      font-size: 48px;
    }

    .secTitle {
      width: 100%;
      margin-bottom: 0.25vh;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: underline;
    }

    .LR {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    ul {
      width: 100%;
      margin-top: -1.5vh;
    }

    ul li {
      line-height: 1.33em;
    }
  }
}

#designPage, #websitePage, #workPage, #courtPage, #jerseyPage, #blogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10vh;
  background-color: var(--near-white);
  color: var(--near-black);

  *:not(img)::selection {
    background-color: var(--near-black);
    color: var(--near-white);
  }

  img::selection {
    background-color: var(--near-white);
  }

  h2 {
    width: 100vw;
    height: 32vh;
    margin-top: -12vh;
    padding-top: 12vh;
    margin-bottom: -2vh;
    color: var(--near-black);
    font-size: calc(3vw + 2vh);
    font-weight: bolder;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lowerSec {
    width: 80vw;
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: -2vh;
      border-bottom: calc(0.25vh + 0.25vw) solid var(--near-black);
      color: var(--near-black);
      font-size: calc(1vh + 2vw);
      font-weight: bolder;
    }
    .LRSec {
      width: 100%;
      min-height: calc(10vh + 10vw);
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        margin-top: 5vh;
        width: 35%;
        max-height: 40vh;
        border-radius: 2.5vh;
        object-fit: contain;
      }

      img:hover {
        border-radius: 5vh;
      }

      h4 {
        width: 44vw;
        color: var(--near-black);
        font-size: calc(1.25vh + 1.25vw);
      }

      p {
        width: 44vw;
        color: var(--near-black);
        font-size: calc(1vh + 1vw);
      }

      .vertSec {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a {
          color: var(--near-black);
        }
        
        a:not(.webBtn):hover {
          font-weight: bolder;
          letter-spacing: 1%;
        }

        .webBtn {
          width: calc(10vw + 7.5vh);
          height: 7.5vh;
          background-color: var(--yellow);
          font-size: calc(1vh + 1vw);
          text-decoration: none;
          border-radius: 1vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .webBtn:hover {
          font-size: calc(1.1vh + 1.1vw);
          font-weight: bolder;
          border-radius: 2vh;
        }
      }
    }
  }
}

#jerseyCont {
  width: 95vw;
  padding: 2.5vw;
  margin-top: 2.5vh;
  display: flex;
  justify-content: space-between;

  h1 {
    width: 30vw;
    text-align: center;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  .flexVert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divisionCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .division {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
      width: 100%;
      height: 15vh;
      font-size: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .team {
      font-size: calc(2vh + 0.75vw);
      font-weight: bold;
      transition: all 2s var(--quick-in);
    }

    .team:hover {
      cursor: pointer;
      font-size: calc(3vh + 1vw);
    }

    .divName {
      font-size: calc(2vh + 0.5vw);
    }
  }

  #jerseySec {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #jerseyTeam {
    font-size: calc(2vh + 1vw);
    text-align: center;
  }

  #jerseyTextSec {
    min-height: 10vh;
    height: fit-content;

    * {
      margin-block: 0.25em 0;
    }
  }

  #jerseyDesc {
    font-size: calc(1vh + 1vw);
    width: 100%;
    min-height: 10vh;
    text-align: center;
  }

  #mainJersey {
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: inherit linear-gradient(180deg, transparent 0%, var(--near-black) 10%, var(--near-black) 90%, transparent 100%);
  }
}

#pageNotFound {
  width: 100vw;
  min-height: calc(100vh - 50px - 24.5vh - 0.1vw);
  padding: 10vh 0;
  margin-top: -10vh;
  background-color: var(--near-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2 {
    font-size: calc(15vh + 5vw);
    margin: 0;
    margin-bottom: -5vh;
  }

  h4 {
    font-size: calc(3vh + 2vw);
    margin: 0;
  }

  p {
    font-size: calc(2vh + 0.5vw);
    margin: 0;
  }

  a {
    width: calc(100% - 1vw);
    max-width: calc(var(--content-width) * 0.5);
    height: 15vh;
    max-height: 75px;
    padding-left: 1vw;
    margin-bottom: 2vh;
    border-radius: 11vw;
    border: 2px solid var(--sea-blue);
    font-size: calc(1.5vw + 1.5vh);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

    .circle {
      height: 5vh;
      aspect-ratio: 1;
      background-color: var(--sea-blue);
      margin-right: 0.5vw;
      border-radius: 2.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%, 0 50%, 50% 50%, 30% 70%, 45% 85%, 80% 50%, 45% 15%, 30% 30%, 50% 50%, 0 50%);
    }
  }

  a:hover {
    background-color: var(--sea-blue);
    color: var(--near-black);
    font-size: calc(1.65vh + 1.65vw);
    font-weight: bold;

    .circle {
      background-color: var(--near-black) !important;
    }
  }
}

#footer {
  background-color: var(--near-black);
  color: var(--near-white);
  width: 80vw;
  height: 8vh;
  padding: 2vh 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  #botBreadcrumb {
    background-color: var(--near-white);
    height: 8vh;
    aspect-ratio: 1;
    border-radius: 4vh;
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 55%, 30% 75%, 10% 55%, 50% 15%, 90% 55%, 70% 75%, 50% 55%, 50% 100%, 100% 100%, 100% 0%);
  }

  #botBreadcrumb:hover {
    background-color: var(--white);
  }
}
