#pageNotFound {
    width: 100vw;
    min-height: calc(100vh - 50px - 24.5vh - 0.1vw);
    padding: 10vh 0;
    margin-top: -10vh;
    background-color: var(--near-black);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h2 {
        font-size: calc(15vh + 5vw);
        margin: 0;
        margin-bottom: -5vh;
    }
    
    h4 {
        font-size: calc(3vh + 2vw);
        margin: 0;
    }

    p {
        font-size: calc(2vh + 0.5vw);
        margin: 0;
    }

    a {
        width: calc(100% - 1vw);
        max-width: calc(var(--content-width) * 0.5);
        height: 15vh;
        max-height: 75px;
        padding-left: 1vw;
        margin-bottom: 2vh;
        border-radius: 11vw;

        border: 2px solid var(--sea-blue);
        font-size: calc(1.5vw + 1.5vh);

        display: flex;
        justify-content: flex-start;
        align-items: center;
      
        text-decoration: none;
      
        .circle {
            height: 5vh;
            aspect-ratio: 1;
            background-color: var(--sea-blue);
            margin-right: 0.5vw;
            border-radius: 2.5vh;
          
            display: flex;
            align-items: center;
            justify-content: center;
          
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%, 0 50%, 50% 50%, 30% 70%, 45% 85%, 80% 50%, 45% 15%, 30% 30%, 50% 50%, 0 50%);
        }
    }
      
    a:hover {
        background-color: var(--sea-blue);
        color: var(--near-black);
        font-size: calc(1.65vh + 1.65vw);
        font-weight: bold;

        .circle {
            background-color: var(--near-black) !important;
        }
    }
}