#jerseyCont {
    width: 95vw;
    padding: 2.5vw;
    margin-top: 2.5vh;
  
    display: flex;
    justify-content: space-between;

    h1 {
        width: 30vw;
        text-align: center;
    }

    div {
        display: flex;
        justify-content: space-between;
    }

    .flexVert {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divisionCont {
        width: 100%;
      
        display: flex;
        justify-content: space-between;
    }
      
    .division {
        width: 100%;
      
        display: flex;
        flex-direction: column;
        align-items: center;
    
        * {
            width: 100%;
            height: 15vh;
            font-size: 2vh;
          
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .team {
            font-size: calc(2vh + 0.75vw);
            font-weight: bold;
            transition: all 2s var(--quick-in);
        }
    
        .team:hover {
            cursor: pointer;
            font-size: calc(3vh + 1vw);
        }

        .divName {
            font-size: calc(2vh + 0.5vw);
        }
    }
}

#jerseySec {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#jerseyTeam {
    font-size: calc(2vh + 1vw);
    text-align: center;
}

#jerseyTextSec {
    min-height: 10vh;
    height: fit-content;

    * {
        margin-block: 0.25em 0;
    }
}

#jerseyDesc {
    font-size: calc(1vh + 1vw);
    width: 100%;
    min-height: 10vh;
    text-align: center;
}

#mainJersey {
    height: 60vh;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-image: inherit linear-gradient(180deg, transparent 0%, var(--near-black) 10%, var(--near-black) 90%, transparent 100%);
}