nav {
    width: 100vw;
    max-width: var(--content-width);
    height: 50px;

    padding: 0 calc((100vw - var(--content-width)) /2);
    padding-top: 2.5vh;

    position: fixed;
    top: 0;
    left: 0;
  
    background-color: var(--near-black);
    font-family: var(--font-helvetica);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  
    *::selection {
        background-color: var(--near-white);
        color: var(--near-black);
    }
  
    #siteLogo {
        aspect-ratio: 2.0625;
        height: 30px;
        padding: 10px;
    
        display: flex;
        align-items: center;
        justify-content: center;

        .shLogo, .shLogo * {
            width: 100%;
            height: 100%;
        
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: contain;
            
            fill: var(--near-white);
        }
    }
  
    #siteLogo:hover .shLogo,
    #siteLogo:hover .shLogo * {
        fill: var(--white);
    }
  
    #navLinks {
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: space-around;

        border-bottom: var(--near-white) calc(0.1vh + 0.1vw) solid;

        a {
            text-decoration: none;
            font-size: calc(0.7vw + 1vh);
            background-color: var(--near-black);
            color: var(--near-white);
        
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a:not(#siteLogo) {
            min-width: 10vw;
            height: 100%;
        }

        a:hover {
            background-color: var(--black);
            font-weight: bold;
            font-size: calc(0.77vw + 1.1vh);
        }
    }
}