#designPage, #websitePage, #workPage, #courtPage, #jerseyPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 10vh;

  background-color: var(--near-white);
  color: var(--near-black);

  *:not(img)::selection {
    background-color: var(--near-black);
    color: var(--near-white);
  }

  img::selection {
    background-color: var(--near-white);
  }

  h2 {
    width: 100vw;
    height: 32vh;

    margin-top: -12vh;
    padding-top: 12vh;
    margin-bottom: -2vh;

    color: var(--near-black);
    font-size: calc(3vw + 2vh);
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #designTitle {
    background-image: linear-gradient(180deg, var(--near-black) 30%, var(--red) 50%);
  }

  #webTitle {
    background-image: linear-gradient(180deg, var(--near-black) 30%, var(--yellow) 50%);
  }

  #workTitle {
    background-image: linear-gradient(180deg, var(--near-black) 30%, var(--sea-blue) 50%);
  }

  #courtTitle {
    background-image: linear-gradient(180deg, var(--near-black) 30%, var(--near-black-trans) 50%), url("../files/courtDesign/courtFloor.jpeg");
    background-size: cover;
  }

  #jerseyTitle {
    background-image: linear-gradient(180deg, var(--near-black) 30%, var(--near-black-trans) 50%), url("../files/courtDesign/courtFloor.jpeg");
    background-size: cover;
  }

  .lowerSec {
    width: 80vw;

    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: -2vh;
      border-bottom: calc(0.25vh + 0.25vw) solid var(--near-black);
  
      color: var(--near-black);
      font-size: calc(1vh + 2vw);
      font-weight: bolder;
    }

    .LRSec {
      width: 100%;
      min-height: calc(10vh + 10vw);
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      img {
        width: 35%;
        object-fit: contain;
      }

      h4 {
        width: 44vw;
        color: var(--near-black);
        font-size: calc(1.25vh + 1.25vw);
      }
  
      p {
        width: 44vw;
        color: var(--near-black);
        font-size: calc(1vh + 1vw);
      }
  
      .vertSec {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
  
        .webBtn {
          width: calc(10vw + 7.5vh);
          height: 7.5vh;
          background-color: var(--yellow);
      
          color: var(--near-black);
          font-size: calc(1vh + 1vw);
          text-decoration: none;
          border-radius: 1vh;
      
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .webBtn:hover {
          font-size: calc(1.1vh + 1.1vw);
          font-weight: bolder;
          border-radius: 2vh;
        }
      }
    }
  }

  iframe {
    width: 60vw;
    height: 80vh;
  }
}
