:root {
  --black: #000;
  --white: #fff;
  --blue: #587C83;
  --blue-more-trans: #587C8356;
  --blue-less-trans: #587C839A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
}

html, body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Segoe UI", Verdana, sans-serif;
  color: var(--black);
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 10vh;
  width: 100vw;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  color: var(--black);
}
nav #logo {
  min-width: 10vw;
  font-size: calc(1vh + 0.5vw);
  color: var(--black);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
nav #logo img {
  width: calc(4vh + 1.5vw);
}
nav .searchBar {
  min-width: calc(20vh + 25vw);
  height: 4vh;
  background-color: var(--blue-more-trans);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .searchBar * {
  opacity: 0.45;
}
nav .searchBar a:hover, nav .searchBar *:focus {
  opacity: 0.8;
}
nav .searchBar input {
  width: 92.5%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--black);
}
nav .searchBar img {
  height: 2.25vh;
  margin-left: 0.875vh;
}
nav .links {
  width: fit-content;
  min-width: 37.5vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links .link {
  height: 100%;
  padding: 0 1vw;
  font-size: calc(0.65vh + 0.65vw);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .links .link img {
  height: calc(1vh + 2vw);
  margin-left: 0.5vw;
}
nav .links .link:hover {
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  padding: 0 0.925vw;
}
nav .links .link:hover img {
  filter: invert(1);
}

#homePage {
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homePage #hero {
  width: 78vw;
  height: 50vh;
  background-image: url("../assets/images/home-hero.jpg");
  background-size: cover;
  background-position: center;
}
#homePage #hero a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--blue-less-trans);
  text-decoration: none;
  text-transform: uppercase;
}
#homePage #hero a div:not(.notMe) {
  width: 50%;
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#homePage #homeBooks {
  width: 100%;
  margin-top: 16vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#homePage #homeBooks .book {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homePage #homeBooks .book * {
  margin-bottom: 50px;
}
#homePage #homeBooks .book img {
  height: 491px;
}
#homePage #homeBooks .book p {
  font-size: 16px;
}
#homePage #homeBooks .book h4 {
  font-size: 32px;
}
#homePage #homeBooks .book .button {
  width: 225px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--black);
  color: var(--black);
  text-decoration: none;
}
#homePage #homeBooks .book .button:hover {
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {
  #homePage #hero {
    max-height: 300px;
  }
  #homePage #hero a {
    background-color: #587C83;
  }
  #homePage #hero a .heroImage {
    margin-left: 20px;
    background-image: url(../assets/images/home-hero.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #homePage #hero a .notMe h3 {
    font-size: 12px;
  }
  #homePage #hero a p {
    font-size: 7px;
  }
  #homePage #homeBooks .book h4 {
    font-size: 11px;
  }
  #homePage #homeBooks .book p {
    font-size: 11px;
  }
  #homePage #homeBooks .book .button {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  #homePage #hero {
    max-height: 200px;
  }
  #homePage #hero a {
    background-color: #587C83;
  }
  #homePage #hero a .heroImage {
    margin-left: 20px;
    background-image: url(../assets/images/home-hero.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #homePage #hero a .notMe h3 {
    font-size: 6px;
  }
  #homePage #hero a .notMe p {
    font-size: 6px;
  }
  #homePage #homeBooks .book h4 {
    font-size: 6px;
  }
  #homePage #homeBooks .book p {
    font-size: 6px;
  }
  #homePage #homeBooks .book .button {
    font-size: 6px;
  }
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 291px;
}
.about .abContent {
  padding-top: 215px;
  width: 80vw;
  display: flex;
}
.about .abContent img {
  width: 20vw;
}
.about .abContent .abText {
  padding-left: 50px;
}
.about .abContent .abText h2 {
  text-align: center;
  margin-top: -30px;
}
.about .abContent .abText h3 {
  text-align: center;
  padding-top: 20px;
}
.about .abContent .abText p {
  padding-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .about .abContent .abText h2 {
    font-size: 12px;
  }
  .about .abContent .abText h3 {
    font-size: 8px;
  }
  .about .abContent .abText p {
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  .about .abContent .abText h2 {
    font-size: 6px;
  }
  .about .abContent .abText h3 {
    font-size: 6px;
  }
  .about .abContent .abText p {
    font-size: 6px;
  }
}
#booksPage {
  width: 100vw;
  padding: 0 4vw;
}
#booksPage h2 {
  margin-top: 150px;
  margin-bottom: 75px;
  text-transform: uppercase;
}
#booksPage .bookSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}
#booksPage .bookSec .book {
  display: flex;
  width: 500px;
  padding-bottom: 100px;
}
#booksPage .bookSec .book img {
  width: 220px;
  margin-right: 40px;
}
#booksPage .bookSec .book div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
#booksPage .bookSec .book div p {
  font-size: 16px;
}
#booksPage .bookSec .book div .button {
  width: 222px;
  height: 68px;
  border: solid 1px var(--black);
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
#booksPage .bookSec .book div .button:hover {
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {
  #booksPage h2 {
    font-size: 12px;
  }
  #booksPage .bookSec .book {
    padding-bottom: 20px;
  }
  #booksPage .bookSec .book img {
    max-height: 150px;
  }
  #booksPage .bookSec .book div {
    max-height: 150px;
  }
  #booksPage .bookSec .book div p {
    font-size: 11px !important;
  }
  #booksPage .bookSec .book div h4 {
    font-size: 12px;
  }
  #booksPage .bookSec .book div .button {
    width: 126px;
    height: 37.5px;
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  #booksPage h2 {
    font-size: 12px;
  }
  #booksPage .bookSec .book {
    padding-bottom: 10px;
  }
  #booksPage .bookSec .book img {
    max-height: 130px;
  }
  #booksPage .bookSec .book div {
    max-height: 100px;
  }
  #booksPage .bookSec .book div p {
    font-size: 6px !important;
  }
  #booksPage .bookSec .book div h4 {
    font-size: 6px;
  }
  #booksPage .bookSec .book div .button {
    width: 72.5px;
    height: 23.32px;
    font-size: 6px;
  }
}
#blogPage {
  width: 100vw;
  padding: 0 11vw;
}
#blogPage .blogPost {
  width: 78vw;
  height: fit-content;
  height: 463px;
  margin: 10vh 0;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#blogPage .blogPost .imgSec:has(:only-child) {
  max-width: 600px;
  height: fit-content;
  width: 50%;
  display: flex;
}
#blogPage .blogPost .imgSec:has(:only-child) img {
  height: 50vh;
  max-width: 540px;
  object-fit: cover;
}
#blogPage .blogPost .imgSec:not(:has(:only-child)) {
  max-width: 600px;
  height: fit-content;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}
#blogPage .blogPost .imgSec:not(:has(:only-child)) img {
  height: 20vw;
}
#blogPage .blogPost .textSec {
  width: 50%;
  max-height: 43vh;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#blogPage .blogPost .textSec * {
  max-width: 413px;
  color: var(--white);
  text-align: center;
}
#blogPage .blogPost .textSec h3 {
  font-size: 32px;
  text-transform: uppercase;
}
#blogPage .blogPost .textSec .readMoreButton {
  width: 222px;
  height: 68px;
  border: 1px solid var(--white);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blogPage .blogPost .textSec .readMoreButton:hover {
  background-color: var(--white);
  color: var(--blue);
  font-weight: bold;
}

@media (max-width: 768px) {
  #blogPage .blogPost {
    max-height: 300px;
    max-width: 552px;
  }
  #blogPage .blogPost .imgSec:has(:only-child) {
    width: 50%;
    max-height: 368px;
  }
  #blogPage .blogPost .imgSec:has(:only-child) img {
    height: 90%;
    width: 100%;
  }
  #blogPage .blogPost .imgSec:not(:has(:only-child)) {
    width: 230px;
    justify-content: space-between;
  }
  #blogPage .blogPost .imgSec:not(:has(:only-child)) img {
    width: 96px;
    height: 146px;
  }
  #blogPage .blogPost .textSec {
    text-align: center;
    width: 223px;
  }
  #blogPage .blogPost .textSec h3 {
    font-size: 12px;
  }
  #blogPage .blogPost .textSec p {
    font-size: 11px;
  }
  #blogPage .blogPost .textSec .readMoreButton {
    width: 89px;
    height: 34px;
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  #blogPage .blogPost {
    width: 300px;
    height: 118px;
  }
  #blogPage .blogPost .imgSec:has(:only-child) img {
    width: 165px;
    height: 118px;
  }
  #blogPage .blogPost .imgSec:not(:has(:only-child)) {
    width: 100px;
    justify-content: space-between;
  }
  #blogPage .blogPost .imgSec:not(:has(:only-child)) img {
    width: 45px;
    height: 69px;
  }
  #blogPage .blogPost .textSec {
    text-align: center;
    height: 118px;
    width: 146px;
  }
  #blogPage .blogPost .textSec h3 {
    font-size: 6px;
  }
  #blogPage .blogPost .textSec p {
    font-size: 6px;
  }
  #blogPage .blogPost .textSec .readMoreButton {
    width: 80px;
    height: 22px;
    font-size: 6px;
  }
}
.account {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.account .login, .account .signup {
  min-width: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.account .content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
}
.account .content h4 {
  font-family: "Segoe UI";
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 20px;
}
.account .content h6 {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
.account .content input {
  margin-bottom: 35px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid black;
}
.account .content .buttonHolder {
  margin: 0 auto;
  cursor: pointer;
}
.account .content .buttonHolder #loginButton, .account .content .buttonHolder #signupButton, .account .content .buttonHolder #logoutButton {
  background-color: #587C83;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: normal;
  background-color: var(--blue-less-trans);
  color: white;
  width: 170px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account .content .buttonHolder #logoutButton {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .account {
    flex-direction: column;
    height: 80vh;
    padding-bottom: 40px;
  }
  .content h4 {
    font-size: 12px !important;
  }
  .content h6, .content input {
    font-size: 11px !important;
  }
  .content h6 {
    padding-bottom: 20px;
  }
  .content .buttonHolder #loginButton, .content .buttonHolder #signupButton, .content .buttonHolder #logoutButton {
    width: 112px !important;
    height: 37px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 390px) {
  .account {
    flex-direction: column;
    height: 80vh;
    padding-bottom: 40px;
  }
  .content {
    width: 130px !important;
  }
  .content h4 {
    font-size: 6px !important;
  }
  .content input {
    width: 130px !important;
    font-size: 6px !important;
  }
  .content h6 {
    font-size: 6px !important;
    padding-bottom: 20px;
  }
  .content .buttonHolder #loginButton, .content .buttonHolder #signupButton, .content .buttonHolder #logoutButton {
    width: 68px !important;
    height: 25px !important;
    font-size: 6px !important;
  }
}
.cart {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart #cartItems .cartItem {
  height: 52.5vh;
  width: 100vw;
  border: 1px solid var(--black);
  padding: 0 11vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart #cartItems .cartItem img {
  height: 29vh;
  margin-right: 2vw;
}
.cart #cartItems .cartItem .itemText {
  height: 29vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cart #cartItems .cartItem .itemText * {
  min-height: 2vh;
}

.readMore {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}
.readMore #hero {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 40vh;
  width: 80vw;
  position: relative;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../assets/images/february-favorites-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.readMore #hero h1 {
  font-size: 32px;
}
.readMore #hero h3 {
  font-size: 26px;
}
.readMore #hero p {
  font-size: 16px;
  font-weight: bold;
}
.readMore .container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.readMore .container .content {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.readMore .container .content .image {
  width: 40%;
}
.readMore .container .content .image img {
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.readMore .container .content .text {
  width: 60%;
  margin-left: 30px;
}
.readMore .container .content .text h4 {
  font-size: 26px;
}
.readMore .container .content .text p {
  font-size: 16px;
}

@media (max-width: 768px) {
  #hero .heroText h1 {
    font-size: 12px;
  }
  #hero .heroText h3 {
    font-size: 11px;
  }
  #hero .heroText p {
    font-size: 8px;
  }
  .container .content .image {
    width: 50%;
  }
  .container .content .text {
    width: 40%;
  }
  .container .content .text h4 {
    font-size: 12px;
  }
  .container .content .text p {
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  #hero .heroText h1 {
    font-size: 6px;
  }
  #hero .heroText h3 {
    font-size: 6px;
  }
  #hero .heroText p {
    font-size: 6px;
  }
  .container {
    width: 90vw;
  }
  .container .content {
    width: 100vw;
  }
  .container .content .image {
    width: 50%;
  }
  .container .content .text {
    width: 50%;
  }
  .container .content .text h4 {
    font-size: 6px;
  }
  .container .content .text p {
    font-size: 6px;
  }
}
footer {
  width: 100vw;
  height: 8.5vh;
  margin-top: auto;
  background-color: var(--blue);
  color: var(--white);
  font-size: calc(10px + 0.25vh + 0.25vw);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: var(--white);
}
footer .links {
  min-width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .links .link {
  height: 100%;
  min-width: 5vw;
  padding: 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .socials {
  width: fit-content;
  min-width: 11vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .socials i {
  font-size: calc(1.5vw + 1.5vh);
}
footer .socials i:hover {
  opacity: 0.8;
}
