@font-face {
  font-family: "Mark OT";
  src: url("../public/MarkOT.ttf");
}
:root {
  --content-width: 1200px;
  --light-gray: #ECE9E4;
  --dark-gray: #13171B;
  --yellow:#FFC92F;
  --red: #C60000;
  --maroon: #5A0000;
  --gold: #947259;
  --teal: #007C91;
  --blue: #2F4053;
  --purple: #473036;
  --quick-in-out: cubic-bezier(.5,0,.5,1);
  --font-stack: "Mark OT", "Helvetica", "Helvetica Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-stack);
  transition: all 0.25s var(--quick-in-out);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--light-gray);
}

img {
  background-color: transparent;
}

#app {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#app .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0 calc((100vw - var(--content-width)) / 2);
}

nav {
  width: 100vw;
  height: 156px;
  overflow-y: hidden;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}
nav p, nav h1, nav h2, nav h3, nav h4, nav h5, nav h6 {
  margin: 0;
}
nav #siteLogo {
  width: 10vw;
  image-rendering: pixelated;
}
nav div.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav div.topSec {
  height: 60%;
}
nav div.topSec form {
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
}
nav div.topSec form img {
  height: 30px;
  margin-left: 15px;
  z-index: 2;
}
nav div.topSec form input {
  width: 600px;
  height: 100%;
  padding-left: 60px;
  margin-left: -45px;
  background-color: #f3f3f3;
  border: 1px solid #999;
  border-radius: 100px;
}
nav div.topSec form input, nav div.topSec form input::placeholder {
  color: var(--dark-gray);
  font-size: 14px;
}
nav div.topSec div.rightCont {
  justify-content: space-between !important;
  width: 400px;
  height: 100%;
  font-size: 14px;
}
nav div.topSec div.rightCont a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 10px;
  text-decoration: none;
  color: inherit;
}
nav div.topSec div.rightCont a img {
  height: 32px;
  margin-bottom: 2px;
}
nav div.topSec div.rightCont a:hover {
  cursor: pointer;
}
nav div.bottomSec {
  height: 40%;
}
nav div.bottomSec a {
  color: var(--dark-gray);
  text-decoration: none;
  font-weight: bold;
  margin: 15px;
  padding: 0;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
nav div.bottomSec a img {
  width: 16px;
  margin-right: 5px;
}
nav div.bottomSec a:hover {
  padding: 15px;
  margin: 0;
  background-color: #f3f3f3;
}
nav div.bottomSec .gold:hover {
  color: var(--gold);
}
nav div.bottomSec .redText {
  color: #C8102E;
}

.blackFridayDeals {
  width: 100vw;
  height: 92px;
  padding: 14px 0;
  background-color: var(--purple);
  display: flex;
}
.blackFridayDeals .deal {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.blackFridayDeals .deal p, .blackFridayDeals .deal a {
  color: white;
  font-size: 12px;
  margin: 0;
}
.blackFridayDeals .deal:not(:first-child) {
  border-left: 1px solid white;
}

#homePage #heroAd {
  width: 100%;
  margin: 20px 0;
  image-rendering: crisp-edges;
}
#homePage #sortFiltersSec {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#homePage #sortFiltersSec .filters, #homePage #sortFiltersSec .sort {
  display: flex;
  flex-wrap: wrap;
}
#homePage #sortFiltersSec .filters {
  width: 950px;
  height: 100%;
}
#homePage #sortFiltersSec .filters .filter {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid #999;
}
#homePage #sortFiltersSec .filters .filter p {
  margin: 0;
  font-size: 14px;
}
#homePage #sortFiltersSec .filters .filter img {
  margin-left: 10px;
  width: 18px;
  height: 10px;
  image-rendering: pixelated;
  opacity: 0.6;
  transform: rotate(0deg);
}
#homePage #sortFiltersSec .filters .filter:not(:first-child) {
  margin-left: 10px;
}
#homePage #sortFiltersSec .filters .filter:hover {
  border-color: black;
}
#homePage #sortFiltersSec .filters .filter:hover img {
  opacity: 1;
  transform: rotate(180deg);
}
#homePage #sortFiltersSec .sort {
  width: 188.89px;
  height: 42px;
  display: flex;
  justify-content: flex-start;
}
#homePage #sortFiltersSec .sort * {
  width: 100%;
}
#homePage #sortFiltersSec .sort p {
  font-size: 12px;
  margin: 0;
}
#homePage #sortFiltersSec .sort select {
  width: 100%;
  height: 20px;
  font-size: 16px;
  border: none;
}
#homePage #itemSec {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#homePage #itemSec a {
  text-decoration: none;
}
#homePage #itemSec .item {
  width: 275px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 0 10px #333;
  border: 2px solid white;
}
#homePage #itemSec .item .fullAd {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#homePage #itemSec .item .tag {
  z-index: 2;
  width: fit-content;
  margin: 0;
  padding: 6px;
  border-radius: 4px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #999;
  color: var(--dark-gray);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
#homePage #itemSec .item .tag.yellow {
  background-color: var(--yellow);
  color: black;
}
#homePage #itemSec .item .tag.red {
  background-color: var(--red);
  color: white;
}
#homePage #itemSec .item .tag.teal {
  background-color: var(--teal);
  color: white;
}
#homePage #itemSec .item .tag.blue {
  background-color: #4472C4;
  color: white;
}
#homePage #itemSec .item img.itemImg {
  margin: 60px 10px;
  width: calc(100% - 20px);
}
#homePage #itemSec .item .colorSec {
  width: 100%;
  margin: 10px;
  display: flex;
}
#homePage #itemSec .item .colorSec .color {
  margin: 2.5px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: white solid 2.5px;
  outline: white solid 2.5px;
}
#homePage #itemSec .item .colorSec .color.selected {
  outline-color: black;
}
#homePage #itemSec .item h3.itemName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: normal;
  color: var(--dark-gray);
}
#homePage #itemSec .item .priceSec {
  margin: 10px;
  display: flex;
  font-weight: bold;
  font-size: 12px;
  color: #555;
  text-align: center;
}
#homePage #itemSec .item .priceSec tr:not(:first-child) {
  border-block: 1px solid transparent;
  border-top-color: #555;
}
#homePage #itemSec .item .priceSec p.oldPrice {
  font-size: 13px;
  text-decoration: line-through;
}
#homePage #itemSec .item .priceSec h5.price {
  font-size: 20px;
}
#homePage #itemSec .item .priceSec h5.price sup {
  margin-top: 19px;
  font-size: 12px;
}
#homePage #itemSec .item .priceSec .sale.price {
  color: var(--red);
}
#homePage #itemSec .item .couponSec {
  width: calc(100% - 20px);
  margin: 10px;
  font-size: 11px;
  color: var(--maroon);
  display: flex;
  align-items: center;
}
#homePage #itemSec .item .couponSec .couponHead {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 20px;
  margin-right: 5px;
  background-color: var(--dark-gray);
  font-size: 12px;
  padding: 0 5px;
  color: white;
  text-transform: capitalize;
}
#homePage #itemSec .item .couponSec .couponHead.red {
  background-color: var(--red);
}
#homePage #itemSec .item .couponSec .couponHead.maroon {
  margin-top: -10px;
  background-color: var(--maroon);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#homePage #itemSec .item .couponSec h6 {
  font-size: inherit;
  text-transform: uppercase;
}
#homePage #itemSec .item .rateSec {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
  color: var(--dark-gray);
  font-size: 12px;
}
#homePage #itemSec .item .rateSec .star {
  width: 15px;
  height: 15px;
  clip-path: polygon(50% 0, 20% 100%, 100% 40%, 0 40%, 80% 100%);
  background-color: var(--yellow);
}
#homePage #itemSec .item .rateSec .star.empty {
  background-color: #bbb;
}
#homePage #itemSec .item .rateSec .star.half {
  background-image: linear-gradient(90deg, var(--yellow) 49.9%, #bbb 50%);
}
#homePage #itemSec .item .rateSec .star:not(:first-child) {
  margin-left: 1px;
}
#homePage #itemSec .item .rateSec p {
  font-size: inherit;
  margin-top: 1px;
  margin-left: 5px;
}
#homePage #itemSec .item .shipSec {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 16px;
  color: var(--dark-gray);
}
#homePage #itemSec .item .shipSec img {
  height: 18px;
  margin: 10px;
}
#homePage #itemSec .item .compareSec {
  display: flex;
  align-items: center;
  margin: 10px;
}
#homePage #itemSec .item .compareSec input {
  width: 16px;
  height: 16px;
  border: 2px solid var(--light-gray);
  border-radius: 0;
  margin-right: 5px;
}
#homePage #itemSec .item .compareSec input:hover {
  cursor: pointer;
}
#homePage #itemSec .item .compareSec p {
  color: var(--dark-gray);
}
#homePage #itemSec .item .buyNow {
  width: 235px;
  height: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: 14px;
  border: 2px solid var(--yellow);
}
#homePage #itemSec .item .buyNow:hover {
  border-color: var(--blue);
}
#homePage #itemSec .item:hover {
  border-color: var(--dark-gray);
}

#cartPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cartPage #itemCount {
  margin-top: 50px;
  margin-bottom: 10px;
}
#cartPage #cartSec {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#cartPage #cartSec #itemSec {
  width: calc(100% - 300px);
  border: 17px solid #E7E4DF;
  border-radius: 17px;
}
#cartPage #cartSec #itemSec .header {
  width: 100%;
  height: 70px;
  background-color: #E7E4DF;
  color: var(--dark-gray);
}
#cartPage #cartSec #itemSec .item {
  width: 100%;
  height: 181px;
  border: 1px solid #E7E4DF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cartPage #cartSec #itemSec .item img {
  width: 131px;
  max-height: 100%;
}
#cartPage #cartSec #itemSec .item .itemInfo {
  font-size: 12px;
  line-height: 24px;
  min-width: 50%;
}
#cartPage #cartSec #itemSec .item .itemInfo p:not(:first-child) {
  font-weight: bold;
}
#cartPage #cartSec #itemSec .item .rightBar {
  height: 100%;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
#cartPage #cartSec #itemSec .item .rightBar .delBtn {
  width: 16px;
  height: 16px;
  background-image: url("../public/deleteIcon.svg");
  opacity: 0.5;
}
#cartPage #cartSec #itemSec .item .rightBar .delBtn:hover {
  cursor: pointer;
  opacity: 0.75;
}
#cartPage #cartSec #itemSec .item .rightBar .priceCount {
  display: flex;
  align-items: center;
  color: #68676B;
}
#cartPage #cartSec #itemSec .item .rightBar .priceCount .price {
  font-size: 12px;
  text-transform: lowercase;
}
#cartPage #cartSec #itemSec .item .rightBar .priceCount input {
  margin: 10px;
  width: 55px;
  height: 35px;
  border: var(--yellow) 2px solid;
  font-family: inherit;
  color: inherit;
}
#cartPage #cartSec #itemSec .item .rightBar .priceCount .calcPrice {
  font-size: 1.5rem;
  font-weight: bold;
}
#cartPage #cartSec #sidebar {
  width: 275px;
}
#cartPage #cartSec #sidebar h4 {
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 1.25rem;
  margin-right: 10px;
}
#cartPage #cartSec #sidebar .infoSec {
  width: 90%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
#cartPage #cartSec #sidebar #subtotal {
  border-bottom: #E7E4DF 1px dashed;
}
#cartPage #cartSec #sidebar #totalSec {
  background-color: #E7E4DF;
  padding: 5px 20px;
  padding-left: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#cartPage #cartSec #sidebar #totalSec #total {
  font-weight: bold;
}
#cartPage #cartSec #sidebar #checkoutBtn {
  width: 100%;
  height: 40px;
  background-color: var(--yellow);
  border: none;
  text-transform: uppercase;
  font-size: calc(0.75vh + 0.75vw);
}
#cartPage #cartSec #sidebar #checkoutBtn:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: white;
}

#accountPage {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
#accountPage .accountSec {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#accountPage .accountSec h2 {
  color: var(--gold);
}
#accountPage .accountSec input {
  width: 325px;
  height: 50px;
  padding: 0 25px;
  margin: 1vh 0;
  border: 1px solid #ccc;
  border-radius: 50px;
}
#accountPage .accountSec .a {
  width: 325px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#accountPage .accountSec .a:hover {
  cursor: pointer;
}

footer {
  background-color: white;
  width: 100%;
  padding: 0 calc((100vw - var(--content-width)) / 2);
}
footer .contactSec {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: var(--purple);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contactSec * {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}
footer .contactSec * img {
  height: 16px;
  filter: invert(1) brightness(100);
  opacity: 0.75;
}
footer .contactSec * img:hover {
  opacity: 1;
}
footer .contactSec .socials img {
  margin: 0 10px;
}
footer #directory {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer #directory .dirSec {
  display: flex;
  flex-direction: column;
  width: 22.5%;
}
footer #directory .dirSec h3 {
  margin: 12.5px 0;
  font-weight: normal;
  letter-spacing: 2px;
}
footer #directory .dirSec a, footer #directory .dirSec p {
  margin: 5px 0;
  font-size: 14px;
  color: inherit;
  text-decoration: underline 2px white;
}
footer #directory .dirSec a:hover {
  text-decoration: underline 2px black;
}
footer #directory .dirSec #emailSec {
  width: 100%;
  display: flex;
}
footer #directory .dirSec #emailSec input {
  width: calc(66% + 2px);
  height: 34px;
  padding: 0 15px;
  border: #aaa solid 2px;
  border-right: none;
}
footer #directory .dirSec #emailSec button {
  width: calc(33% + 2px);
  height: 34px;
  z-index: 2;
  border: var(--yellow) 2px solid;
  background-color: transparent;
}
footer #directory .dirSec #emailSec button:hover {
  background-color: var(--yellow);
  cursor: pointer;
}
footer #directory .dirSec #countrySec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer #directory .dirSec #countrySec img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  border: 5px solid white;
  outline: 1px solid #888;
}
footer #directory .dirSec #countrySec select {
  border: none;
}
footer #copyright {
  margin-top: 45px;
  border-top: #888 solid 1px;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #copyright p {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 50px;
}
