@font-face {
    font-family: "Gill Sans";
    src: url("../gillSans.woff2");
}

$content-width: 980px;

$white: #FFFFFF;
$input-gray: #E5E5E5;
$med-blue: #79ADDC;
$black: #000000;
$spec-orange: #FF7D38;

$font-gill: "Gill Sans" , "Proxima Nova ScOsf";
$font-prox: "Gill Sans", "Proxima Nova ScOsf";