#hero {
    height: 500px;
    width: 100vw;
    padding-top: 60px;

    background-image: linear-gradient(rgba(255, 209, 64, 0.75) 0%, rgba(255, 209, 64, 0.75) 100%), url("../img/home-hero.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: $font-pt;

    h2 {
        text-transform: uppercase;
        font-size: 60px;
        font-stretch: extra-condensed;
    }

    h4 {
        color: $pink;
    }

    p {
        width: calc($content-width / 2);
        font-family: $font-gill;
        font-style: italic;
        font-size: 1.25em;
        text-align: center;
    }

    a {
        text-decoration: none;
        font-size: 1.25em;
        font-family: $font-gill;
        font-style: none;
        color: $white;

        background-color: $pink;
        width: 120px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#ceoQuote {
    max-width: $content-width;
    width: 100vw;
    height: 300px;

    background-color: $white;
    font-family: $font-pt;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: $yellow;
        font-family: $font-gill;
    }

    h3 {
        color: $pink;
    }

    h4 {
        color: #888;
        font-size: 10px;
    }
}

#upcomEvents {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
    width: 100vw;
    height: 320px;

    background-color: $purple;
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;


    h2 {
        width: 400px;
        border-bottom: 1px solid $white;
        font-weight: 400;
    }

    #dates {
        display: flex;
        justify-content: center;
        align-items: center;

        .event {
            width: 210px;
            display: flex;

            div:not(.date) {
                width: 140px;
                
                font-weight: 400;

                p {
                    color: $pink;
                }
            }
        }
    }
}

.date {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    background-color: $pink;
    color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
        font-size: 22px;
        margin-bottom: 0;
    }
}