* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-gill;
}

html, body, div#app {
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}