@font-face {
    font-family: "Gill Sans";
    src: url("../gillSans.woff2");
}

$content-width: 980px;

$white: #FFFFFF;
$black: #000000;
$purple: #540D6E;
$pink: #EE4367;
$yellow: #FFD140;
$light-green: #3BCEAB;
$reg-green: #08AD69;

$font-gill: "Gill Sans" , "PT Serif", sans-serif;
$font-pt: "PT Serif", "Gill Sans", serif;