body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;

  font-family: "Indivisible1", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

form {
  max-width: 100vw;
  width: calc(40vh + 15vw);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

form * {
  font-family: "Indivisible1", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

select {
  appearance: none;
  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      appearance: base-select;
    }
  }
}

option {
  background-color: #eee;

  font-size: 2vh;
  font-weight: bold;
}

option {
  border: 0.25vw solid transparent;
}

option:hover {
  border-color: black;
}

::picker(select) {
  border: none;
}

option:first-child,
option:first-of-type {
  border-radius: 0.25vw 0.25vw 0 0;
}

option:last-child option:last-of-type {
  border-radius: 0 0 0.25vw 0.25vw;
}

select,
input,
button {
  min-height: 2vh;
  height: fit-content;
  width: 50%;

  margin: 0 0 1vh;
  padding: 1vw;
  border: #ccc 0.125vw solid;
  border-radius: 5vw;
}

#jersey {
  width: 20vw;
  height: 40vw;
  background-image: url("../jerseys/BKNAssBack.png");
  background-size: cover;
  background-position: center top;
}

svg {
  width: 20vw;
  margin-top: 6vw;
  margin-left: 2.5vw;
  font-size: 2vw;
}

#name,
.name {
  width: 20vw;

  fill: #000;
  font-family: "Tungsten1";
  font-size: calc(2.5vh + 2.5vw);
  letter-spacing: -1px;
}

#number {
  position: absolute;
  margin-top: calc((-1 * 5vw) - 2vh);

  width: 20.5vw;

  color: #000;
  -webkit-text-stroke: 1px transparent;
  text-align: center;
  font-family: "Trailblazers";
  font-weight: bold;
  font-size: 7vw;
  line-height: 0;
}

.jerseySide {
  width: 20vw;
  height: 40vw;
  margin-top: -40vw;

  position: relative;
  top: 0;

  background-size: cover;
  background-repeat: no-repeat;
}

#topSide {
  background-image: url("../jerseys/BKNAssTop.png");
  background-position: center top;
  margin-top: -21.4vw;
}

#leftSide {
  background-image: url("../jerseys/BKNAssLeft.png");
  background-position: left top;
  left: 0;
}

#rightSide {
  background-image: url("../jerseys/BKNAssRight.png");
  background-position: right top;
  right: 0;
}
