@font-face {
  font-family: "Helvetica";
  src: url("../css/fonts/helveticaStandard.woff2");
}

* {
  font-family: "Helvetica", sans-serif;
  transition: 0.25s all cubic-bezier(0.5, 0, 0.5, 0);
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

nav {
  width: 80vw;
  max-width: var(--content-width);
  height: 50px;
  margin-top: 2.5vh;
  border-bottom: #222 calc(0.1vh + 0.1vw) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
nav *::selection {
  background-color: #222;
  color: #ddd;
}
nav #siteLogo {
  aspect-ratio: 2.0625;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav #siteLogo .shLogo,
nav #siteLogo .shLogo * {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  fill: #222;
}
nav #siteLogo:hover .shLogo,
nav #siteLogo:hover .shLogo * {
  fill: #222;
}
nav #navLinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
nav #navLinks a {
  text-decoration: none;
  font-size: calc(0.7vw + 1vh);
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav #navLinks a:not(#siteLogo) {
  min-width: 10vw;
  height: 100%;
}
nav #navLinks a:hover {
  background-color: #00000020;
  font-weight: bold;
  font-size: calc(0.77vw + 1.1vh);
}

.person {
  width: calc(30vh + 20vw);
  height: 20vh;
  border-radius: 10vh;
  margin: 2.5vh;

  background-color: #ddd;

  display: flex;
  align-items: center;
}

.person img {
  height: 20vh;
  width: 20vh;
  border-radius: 10vh;
  object-fit: contain;
  object-position: center top;
}

.person div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
